body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: beige;
    margin: 0;
    
}



h1{
    margin: auto;
    margin-top: 2.8vh;
}

button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    background-color: beige;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
    border-style: none;
    border: solid 2px beige;
    margin-top: 10px;

}

button:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: beige;
}

table{
    border: 1px solid beige;
    margin: auto;
    border-spacing: 0px ,10px;
}

th{
    border-bottom: 1px beige solid;
    padding: 10px;
}

td{
    border-right: 1px beige solid;
    padding-left: 10px;
    padding-right: 10px;

}

input[type='number']{
    width: 80px;
} 

a{
    color: rgb(67, 233, 254);
}

a:visited{
    color: rgb(2, 117, 79);
}

.container{
    background-image: url("img/binary4a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;

}

.notepad{
    max-width: 30vw;
    font-size: 20px;
}

.input_form{
    text-align: left;
    padding-left: 0%;
    font-size: 120%;
}

.main{
    display: flex;
    height: 90vh; 
    max-width: 98vw;
    margin: auto;
}

.widget{
    height: 80vh;
    background-color: rgba(0,0,0,0.4); 
    margin: 8px;
    padding: 5px;
    padding-top: 0px;
    width: 32%;
    min-width: 300px;
    text-align: center;
    border-radius: 10px;
    scrollbar-color:blue;
}

.full{
    height: 80vh;
    background-color: rgba(0,0,0,0.4); 
    margin: 8px;
    padding: 5px;
    padding-top: 0px;
    width: 32%;
    min-width: 96vw;
    text-align: center;
    border-radius: 10px;
    scrollbar-color:blue;
}

.tile-div{
    display: inline-block;
}

.tile{
    height: auto;
    width: 10vw;
    margin: 0px 10px 0px 10px;
}

.scroll{
    overflow-y:scroll;
    scrollbar-color: blue;
}

.invert { filter: invert(100%); }

.top{
    background-color: rgba(0,0,0,0.5);
    height: 10vh;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 20px 10px 20px;
    margin-top: 10px;
}

.center{
    margin: auto;
    text-align: center;
}

.wide{
    width: 63%;
}

.extra_wide{
    width: 100%;
}

.light{
    width: 60px;
    height: 100px;
    margin: 7px;
}

.round{
    border-radius: 10%;
}

#note-area{
    font-size: 18px;
    max-width: 28vw;
    max-height: 58vh;
    min-height: 25vh;
    border-radius: 10px;
}

#widget3{
    /* scrollbar  */
    overflow-y: scroll;
}

#clock{
    position:absolute;
    top: 7vh;
    right: 50px;
    font-size: 20px;
    border: 2px solid beige;
    padding: 5px;
    width: 120px;
    border-radius: 5px;

}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #66a;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, a, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}
Footer
